<p id="notice"><%= notice %></p>

<!-- p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p> -->
<!-- 
<%= link_to 'Edit', edit_employee_path(@employee) %> |
 -->
<a href="/employees" class="btn">Voltar</a>  
