/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


hr {
      color: #f00;
      background-color: #ccc;
      height: 1px;
    }

.corpo{
  width: 97%;  
  border: 2px #ccc solid;
  padding: 10px;
  height: auto;
  
}
.calend{
  padding: 0px;
  margin-left: 0px;
}

.topo{
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#1D83B3), color-stop(100%,#235156));
  background-color: #ccc;
  padding: 0px;
  width: 100%;
  margin: 0px;
  margin-bottom: 25px;
  height: 160px;
}

.topo h1{
  font-size: 50pt;
  font-family: arial, sans-serif;
  margin-top: 45px;
  margin-left: 75px;
  color:#fff; 
  text-shadow: 3px 3px  rgba(0,0,0,.5);
}

.topo p{
  color: #fff;
  text-shadow: 3px 3px  rgba(0,0,0,.5);
  margin-left: 75px;
  font-size: 25px;
}


.menu{
margin: 0;
padding: 0;
border: 1px #ccc solid;

}
.menu ul{ 
list-style: none;
border: 1px #ccc solid;
text-align: left;
}
.menu li{
width: 100%;
height: auto; 
padding: 0;
margin-bottom: 0;
position: relative;
border: 1px #ccc solid;
text-align: left;

}
.menu li ul{
width: 180px;
height: auto;
padding: 0;
margin: 0;
display: none;
position: absolute;
left: 180px;
top: 0;
border: 1px #ccc solid;
text-align: left;
}

/*nível inferior do menu com display: none*/

.menu a{
display: block;
text-decoration: none;
padding: 7px;
background-color: #fff;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 17px;
text-align: center;
font-weight: 400;
color: #000;
text-align: left;

}
.menu a:hover{
background-color: #1D83B3;
text-decoration: none;
color: #FFFFFF;
text-align: left;
}

/* hack para o IE não criar margens\*/ 
* html ul li { float: left; height: 1%; } 
* html ul li a { height: 1%; } 
/*End */ 

.menu li:hover ul, li.over ul{
display: block;
margin-left: 25px;
text-align: left;
}

/*mostra nível inferior ao passar o cursor*/

.menu li.btnultimo{
border-bottom: none;
text-align: left;


}

