<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner">
    <div class="page-logo">
      <%= link_to image_tag("metronic/logo.png", alt: "logo", class: "logo-default"), root_path %>
      <%= content_tag :div, nil, class: 'menu-toggler sidebar-toggler' %>
    </div>
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">        
        <li class="dropdown dropdown-user">          
          
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="clearfix"></div>